<html>
    <head>
        <link href="../static/css/font-awesome.css" rel="stylesheet">
        <!--<link href="../static/css/custom.css" rel="stylesheet">-->
        <link href="../static/css/fullcalendar.css" rel="stylesheet">
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <link href="../static/css/mprogress.min.css" rel="stylesheet">
        <link href="../static/css/jquery.webui-popover.css" rel="stylesheet">
        <!--<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>-->
        <link href="../static/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <script src="../static/js/jquery-3.1.0.min.js"></script>
        <script src="../static/js/jquery.webui-popover.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="../static/js/moment.min.js"></script>
        <script src="../static/js/jquery.simpleWeather.js"></script>
        <script src="../static/js/mprogress.min.js"></script>
        <script src="../static/js/fullcalendar.js"></script>
        <!--<script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>-->
        <script src="../static/js/bootstrap-editable.min.js"></script>
        <script src="../static/js/bootstrap-datetimepicker.js"></script>
        <!--<script src="../static/js/picker.date.js"></script>
        <script src="../static/js/picker.time.js"></script>-->
        <!--<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>-->
        <script src="../static/js/custom.js"></script>
    </head>
    <body>
        <input type="password" id="pass">
    </body>
</html>